body,
p {
    font-size: 1.25em;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.25;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Bangers', cursive;
}

.header {
    grid-area: hd;
}

.navbar {
    grid-area: nb;
}

.main {
    grid-area: main;
}

.side-bar {
    grid-area: sb;
}

footer {
    grid-area: ft;
}

.wrapper {
    display: grid;
    grid-gap: 2px;
    grid-template-rows: minmax(10vh, auto);
}

@media screen and (max-width:599px) {
    .wrapper {
        grid-template-columns: 1fr;
        grid-template-areas: "hd" "nb" "sb" "main" "ft";
        padding: 5px;
    }
}

@media screen and (min-width:600px) {
    .wrapper {
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas: "hd hd hd nb" "main main main sb" "ft ft ft ft";
        padding: 10px;
    }
}

.box {
    display: flex;
    border: 1px solid purple;
    background: sandybrown;
    color: black;
    padding: 1rem;
}

.noflex {
    display: block;
}

hr {
    color: black;
    border: 2px solid purple;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
    justify-content: center;
}